body{
	background-color:white;
	margin: 0;
	padding: 0;
}
#header{
	background-image: url('http://usm.cl/assets/img/header-usm.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
}
#headerTitle{
	color: solid black;
	font-size: 30px;
	text-align: center;
}
#sidebar{
	background-color: purple;
	width: 15%;
	min-height: 100%;
	float: left;
}
#content{
	background-image: url('https://sireb.usm.cl/sgre/images/demo1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	width: 85%;
	height: 100%;
	float: right;

}
	#content li
	{
		list-style: none;
	}