body{

	margin: 0;
	padding: 0;
}
#header{
	background-image: url('http://usm.cl/assets/img/header-usm.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
}
#headerTitle{
	color: solid black;
	font-size: 30px;
	text-align: center;
}

#contentHeader {

    width:960px;
    margin:auto;
}

#BH {

    height:40px;
    width:960px;
    margin-left: 30px;
    background-color:white;
    border-radius:0px 0px 10px 10px;
    box-shadow:0px 0px 10px #000 inset;
    text-align:center;

}

    #BH > ul {

        list-style:none;
        padding:0px;
        margin:0px;
    }

    #BH li {

        display:inline-block;
        padding:5px;
        cursor:pointer;
        text-decoration-line:none;

    }

        #BH li > a {

            display:block;
            text-decoration:none;
            color:black;
            font-weight:bold;
        }

#sidebar{

	background-color: white;
	width: 15%;
	float:left;
    min-height:450px;
    list-style: none;
    padding:0px;
    margin:0px; 

}
	#sidebar > li {

			padding:10px;
	        text-align:center;
	        background-color:#0839fb;
	        border:1px outset #0839fb;
	        box-shadow: 0px 0px 10px #000 inset;

	    }

	        #sidebar > li > a {

	            text-decoration:none;
	            color:white;
	        }
#content{
	background-image: url('https://sireb.usm.cl/sgre/images/demo1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 85%;
	height: 580px;
	float: right;

}
	#content li
	{
		list-style: none;
	}

